{% trans_default_domain 'messages' %}

{% if trainings is empty %}
    <div class="row">
        <p class="empty">
            {{ 'list.empty'|trans }}            
        </p>
    </div>
{% else %}
    {% for training in trainings %}
        <div class="training">
            <h2 class="row">{{ training.getName() }}</h2>
            <div class="row">
                <p class="col-md-10">{{ training.getDescription() }}</p> 
                <div class="col-md-2">                    
                    <button {% if not app.user %}disabled{% endif %} class="btn {% if training.isJoined() %}btn-danger{% else %}btn-primary{% endif %}" data-role="training_switch">                       
                        {% if app.user and training.isJoined() %}
                            {{ 'training.unjoin'|trans }}                            
                        {% else %}
                            {{ 'training.join'|trans }}
                        {% endif %}                        
                    </button>
                </div>
            </div>            
            <div class="row">
                <div class="col-md-6"> <strong>{{ 'training.date'|trans }}:</strong> {{ training.getStartsAt() }} </div>
                <div class="col-md-6"> <strong>{{ 'training.places_left'|trans }}:</strong> <span class="places_left">{{ training.getPlacesLeft() }}</span> </div>
            </div>
        </div>
    {% endfor %}
{% endif %}