{% if not app.user %}
    <div class="navbar-right">
        <form class="navbar-form navbar-left" role="form" method="get" action="{{ url('fos_user_security_login') }}">
            <button type="submit" class="btn btn-default navbar-btn">{{ 'action.login'|trans({}, 'messages') }}</button>
        </form>
        <form class="navbar-form navbar-right" role="form" method="get" action="{{ url('fos_user_registration_register') }}">
            <button type="submit" class="btn btn-default navbar-btn">{{ 'action.register'|trans({}, 'messages') }}</button>
        </form>    
    </div>
{% else %}
    <nav class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {% if app.user.getFirstname() is not empty %}
                    {{ app.user.getFirstname() }} {{ app.user.getLastname() }}
                {% else %}
                    {{ app.user.getUsername() }}
                {% endif %}
                <span class="caret"></span>
                <ul class="dropdown-menu">                                                            
                    {% if is_granted('ROLE_ADMIN') %}                        
                        <li><a href="{{ url('trainings') }}">{{ 'action.trainings'|trans({}, 'messages') }}</a></li>
                        <li><a href="{{ url('users') }}">{{ 'action.users'|trans({}, 'messages') }}</a></li>
                        <li role="separator" class="divider"></li>
                    {% endif %}
                    <li><a href="{{ url('fos_user_profile_edit') }}">{{ 'action.edit_profile'|trans({}, 'messages') }}</a></li>
                    <li><a href="{{ url('fos_user_change_password') }}">{{ 'action.change_password'|trans({}, 'messages') }}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ url('fos_user_security_logout') }}">{{ 'action.logout'|trans({}, 'messages') }}</a></li>
                </ul>
            </a>
        </li>
    </nav>
{% endif %}